// Flexbox
.flex,
.list-unstyled,
.list-inline {
	display: flex;
	&:is(ul) {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&.flex-columns,
	&.list-inline {
		flex-direction: row;
	}
	&.flex-rows,
	&.list-unstyled	{
		flex-direction: column;
	}
	&.flex-gap {
		gap: var(--gutter-y) var(--gutter-x);
	}
	&.flex-wrap {
		flex-wrap: wrap;
	}
	> * {
		flex: 1 1 auto;
	}
}
