@import url('https://dev.iconly.io/public/OoTc8FJRmnEY/iconly.css');

[class^="icon-"] {
	width: 1em;
	height: 1em;
	text-align: center;
}

.iconfx-glow {
	text-shadow: 1px 1px 3px;
}
.iconfx-shadow {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .35);
}
