body {
  background: var(--site-background);
}

#header {
  position: relative;
  padding-top: var(--gutter-y);
}

@media (min-width: 768px) {
  #sidebar {
    float: inline-start;
    width: var(--sidebar-width);
  }
  #sidebar + #main {
    margin-inline-start: calc(var(--sidebar-width) + var(--gutter-x) * 2);
  }
}
#github-banner {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 200px;
  height: 200px;
  aspect-ratio: 1;
}
@media (min-width: 1600px) {
  #github-banner {
    display: block;
  }
}
#github-banner a {
  display: block;
  position: absolute;
  top: 40px;
  right: -40px;
  width: 100%;
  font-size: 12px;
  background: #6d6d6d;
  color: #fff;
  padding: 0.5em 3em;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  transform: rotate(45deg);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  outline: 0px solid #6d6d6d;
  white-space: nowrap;
}

#box-languages {
  padding: 0 15px;
}
#box-languages .language {
  padding: 0.25rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
#box-languages .language:hover {
  text-decoration: none;
}
#box-languages .language img {
  width: 20px;
  height: 20px;
}
#box-languages .language.active {
  border-bottom: 2px solid #999;
}
@media (min-width: 768px) {
  #box-languages {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
  }
}

#site-navigation {
  width: 100%;
  padding: 0.5em;
}
#site-navigation .navbar-brand {
  padding: 0.5em 1em;
}
#site-navigation .navbar-collapse {
  border-inline-start: none;
}
#site-navigation .navbar-collapse .navbar-nav:first-child li:first-child {
  border-inline-start: none;
}
#site-navigation .navbar-collapse .navbar-nav li:last-child {
  border-inline-end: none;
}
#site-navigation .navbar-collapse .navbar-nav:first-child .fa {
  display: none;
}
@media (min-width: 1280px) {
  #site-navigation .navbar-collapse .navbar-nav:first-child .fa {
    display: inline;
  }
}
#site-navigation [data-id=languages] .dropdown-menu {
  display: block;
}
@media (min-width: 768px) {
  #site-navigation [data-id=languages] .dropdown-menu {
    columns: 2;
  }
}
@media (min-width: 1024px) {
  #site-navigation [data-id=languages] .dropdown-menu {
    columns: 3;
    inset-inline-start: auto;
    inset-inline-end: 0;
  }
}
#site-navigation [data-id=languages] img {
  vertical-align: bottom;
  height: 18px;
}
#site-navigation .cart a {
  color: inherit;
}
#site-navigation .badge {
  animation: pulsating 1s linear;
  animation-iteration-count: infinite;
}
@media (min-width: 768px) {
  #site-navigation [data-id=account] .dropdown-menu {
    width: 320px;
    inset-inline-start: auto;
    inset-inline-end: 0;
    padding: 1.5em;
  }
}

#content-wrapper {
  flex-grow: 1;
}

#box-like-wrapper {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-inline-start: -200px;
}

.loader {
  display: inline-block;
  background: url("../images/loader.svg");
  background-size: cover;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.addons .addon,
.apis .api {
  text-decoration: none;
  margin-bottom: 0;
  color: var(--listing-item-text-color);
  overflow: hidden;
  transition: transform linear 100ms;
}
.addons .addon:hover,
.apis .api:hover {
  border-color: #4772a1;
  transform: scale(1.05);
}
.addons .addon .card-body, .addons .addon .card-footer,
.apis .api .card-body,
.apis .api .card-footer {
  padding: 1em;
}
.addons .addon .card-body,
.apis .api .card-body {
  height: 160px;
}
.addons .addon .rating,
.apis .api .rating {
  margin-top: 0.5em;
}
.addons .addon .description,
.apis .api .description {
  color: #888;
}
.addons .addon .footer,
.apis .api .footer {
  background: #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  border-top: 1px solid var(--default-border-color);
}
.addons .addon .footer *[class*=col-],
.apis .api .footer *[class*=col-] {
  padding-bottom: 0;
}
.addons .addon .info,
.apis .api .info {
  padding-top: 0.25rem;
  color: #999;
  font-size: 12px;
}
.addons .addon .author,
.apis .api .author {
  color: #999;
  font-size: 13px;
}

#development-releases .download-package,
#master-releases .download-package {
  margin: 15px 0px !important;
  padding: 1em;
}
#development-releases .download-package .description,
#master-releases .download-package .description {
  margin: 1em 0;
}
#development-releases .download-package .toggle,
#master-releases .download-package .toggle {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-weight: bold;
}
#development-releases .download-package .uploaded,
#master-releases .download-package .uploaded {
  color: #999;
}
#development-releases .download-package .platforms,
#master-releases .download-package .platforms {
  color: #999;
  margin-bottom: 0;
}

#addon-packages .download-package {
  margin: 15px 0px !important;
  padding: 2em;
}
#addon-packages .download-package .title {
  overflow: hidden;
  margin-top: 0;
}
#addon-packages .download-package .description {
  margin: 1em 0;
}
#addon-packages .download-package .toggle {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-weight: bold;
}
#addon-packages .download-package .uploaded {
  color: #999;
}
#addon-packages .download-package .platforms {
  color: #999;
  margin-bottom: 0;
}
#addon-packages .download-package.nuked .title {
  text-decoration: line-through;
}

#important-notice {
  background: #1e792c;
  color: #fff;
  text-align: center;
}

#privacy-note {
  border: 1px solid #62dfaa;
  color: #444;
  border-radius: var(--border-radius);
  margin-bottom: 2em;
}

#footer {
  clear: both;
  padding: 1em 0;
  background: var(--footer-background);
  color: var(--footer-text-color);
}
#footer * {
  color: inherit;
}
#footer .row {
  margin-bottom: 0;
}
#footer .modules {
  margin: 1rem 0;
}
#footer .social-bookmarks {
  width: 100%;
  justify-content: center;
  font-size: 1.5em;
  margin: 1em 0;
  gap: 1em;
}
#footer .social-bookmarks .thumbnail {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.25em;
  aspect-ratio: 1;
  width: 2em;
  height: 2em;
}
#footer .social-bookmarks .thumbnail:hover {
  background: #ddd;
  color: #000;
}
#footer .title {
  color: var(--footer-title-color);
  font-size: 1.5em;
  margin: 0 0 0.75em 0;
}

.dropdown-menu {
  padding: 0.5em;
}

#copyright {
  background: var(--copyright-background);
  color: var(--copyright-text-color);
  text-align: center;
}
#copyright a {
  color: inherit;
}

pre code.hljs {
  border-radius: var(--border-radius);
}

.last {
  x: y;
}

@media (prefers-color-scheme: dark) {
  .CodeMirror {
    filter: invert(0.9);
  }
}